.slick-dots li button:before {
  content: '' !important;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  width: 15px !important;
  height: 15px !important;
  border-radius: 15px !important;
  background: #DDE0E4 !important;
}

.slick-dots li.slick-active {
  width: 45px !important;
height: 15px !important;
  border-radius: 28px;
  background: #F53838 !important;
}